header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: slategray;
  min-width: 830px;
}

#logo{
  color: navy;
  font-family: fantasy;
  font-size: 3em;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items:center;
  align-self: flex-end;
  padding: 0;
  margin: 0;
  height: 76px;
  width: 380px;
}